<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home_style.css') }}">
    <!-- Above is how we link our style sheet. url_for creates a url based on the static folder, and file name given -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Above is a link for bootstrap -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <!-- Above is how we link our JS file. Make sure that you understand why we use defer -->
    <title>Home</title>
</head>

<body class="bg">
    <h1 class="greeting">Hello, Maestro {{user_info}}!</h1>
    <div class="container">
        <div class="game_area">

            <form action="/game_play" method="post">
                <div class="gameplay">
                    <h2>Play Game</h2>
                    <button action="/game_play" method="post" class="start_quiz" role="button">Let's Go
                        Maestro!</button>
                </div>

            </form>

            <form action="/scoreboard" method="post">

                <div class="scoreboard">
                    <button action="/scoreboard" method="post" class="start_quiz" role="button">Scoreboard</button>
                </div>
            </form>

        </div>
        <form action="/logout" method="post">
            <div class="text-end">
                <button action="/logout" method='post' class="logout_button" role="button">Log Out</button>
            </div>
        </form>
    </div>

</body>

</html>