.player {
    border: 2px solid blue;
}

.playing {
    height: 175px;
    width: 175px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ddd;
    background-image: url("path/to/musical-notes.png");
    /* Replace with your image path */
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


.answer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
    text-align: center;
}


.answer-button {
    background-color: white;
    padding: 20px;
    border: none;
    border-radius: 10px;


}

.album-image {

    border-radius: 10px;
    height: 150px;

}

.hidden {
    display: none;
}

.answer-choices {
    display: flex;
}

.col-1,
.col-2 {
    flex: 1;
}

.answer-button {
    background-color: white;
    padding: 15px;
    border-radius: 25px;


    /* For album image overlay */
    text-align: center;
}

.artist-name,
.song-title {
    margin: 5px 0;
}