.player {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bg {
    width: 100%;
    height: 100vh;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, rgb(180, 26, 90) 0%, rgb(218, 87, 148) 25%, rgb(216, 25, 143) 51%, rgb(7, 3, 231) 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
    animation: AnimateBG 20s ease infinite;
}

.playing {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 25px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ddd;
    background-image: url("path/to/musical-notes.png");
    /* Replace with your image path */
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.name-gamer {
    border: 3px solid black;
    border-radius: 25px;
    background-color: rgb(151, 140, 140);
    padding: 20px;
}

.answer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
    text-align: center;
}


.answer-button {
    background-color: white;
    padding: 20px;
    border: none;
    border-radius: 10px;
    margin: 20px;


}

.scoreboard {
    color: yellow;
    font-size: 45px;
    font-weight: 400;
}

.greeting {
    font-size: 75px;
    font-weight: 600;

    background-image: conic-gradient(#553c9a 30%, #ee4b2b 40%, #ee4b2b 70%, #00c2cb 80%, #553c9a);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.album-image {

    border-radius: 10px;
    height: 150px;

}

.hidden {
    display: none;
}

.answer-choices,
.buttons {
    display: flex;
}

.buttons {
    padding: 20px;

}

.col-1,
.col-2 {
    flex: 1;
}

.answer-button:hover {
    box-shadow: 0 22px 26px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.answer-button {
    background-color: white;
    padding: 15px;
    border-radius: 25px;


    /* For album image overlay */
    text-align: center;
}

.artist-name,
.song-title {
    margin: 5px 0;
}